@import "../bootstrap-5.3.8/scss/functions";

@import "../bootstrap-5.3.8/scss/variables";

@import "../bootstrap-5.3.8/scss/maps";
@import "../bootstrap-5.3.8/scss/mixins";
@import "../bootstrap-5.3.8/scss/reboot";

@import "../bootstrap-5.3.8/scss/containers";
@import "../bootstrap-5.3.8/scss/grid";

@import "../bootstrap-5.3.8/scss/utilities";

$utilities: map-get-multiple(
  $utilities,
  (
    "align-items"
  )
);

@import "../bootstrap-5.3.8/scss/utilities/api";